@use './breakpoints' as u;
@use './variables' as *;

.archive-container {
  width: 100%;
}
.editorial-latest-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 80px 15px 40px 15px;
  background-color: $white;

  @include u.breakpoint(md) {
    padding: 80px 30px 40px 30px;
  }

  .editorial-latest-wrapper {
    display: flex;
    flex-direction: column;

    @include u.breakpoint(md) {
      flex-direction: row;
      justify-content: space-between;
    }

    .latest-left {
      width: 100%;
      height: max-content;
      aspect-ratio: 4 / 4;
      background-color: #bdbdbd;
      background-size: cover;
      background-position: center;
      position: relative;
      &:before {
        float: left;
        padding-top: 100%;
        content: '';
      }
      &:after {
        display: block;
        content: '';
        clear: both;
      }

      @include u.breakpoint(md) {
        width: 50%;
      }
    }

    .latest-right {
      width: 100%;
      padding: 30px;
      background-color: #f1f1f150;

      @include u.breakpoint(md) {
        width: 50%;
        padding: 50px;
      }

      .editorial-date {
        font-family: var(--font-century-gothic), sans-serif;
        font-weight: 600;
        text-transform: capitalize;
        font-size: 14px;
        color: #bdbdbd;
        margin-top: 0px;
        margin-bottom: 10px;
      }

      h1 {
        font-family: var(--font-century-gothic), sans-serif;
        font-weight: 600;
        text-transform: capitalize;
        font-size: 28px;
        color: $codgray;
        margin-top: 0px;
        margin-bottom: 20px;
      }
      .editorial-desc {
        font-family: var(--font-century-gothic), sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #686868;
        margin-top: 0px;
        margin-bottom: 10px;
      }

      .latest-read-btn {
        margin-top: 10px;
        display: block;
      }
    }
  }
}

.editorial-list {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $white;
  padding: 40px 15px 40px 15px;

  @include u.breakpoint(md) {
    padding: 40px 30px 40px 30px;
  }

  .editorial-list-wrapper {
    .editorial-list-inner-wrap {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .editorial-item {
        width: 100%;
        margin: 0px 0px 30px 0px;
        cursor: pointer;
        &:hover {
          .editorial-detail-wrap {
            background-color: $codgray;

            p,
            h3 {
              color: $white;
            }
          }
        }

        @include u.breakpoint(lg) {
          width: calc((100% / 2) - 20px);
          margin: 0px 10px 30px 10px;
        }

        .editorial-detail-wrap {
          padding: 20px;
          transition: all 0.3s ease;
          background-color: #f1f1f150;

          p {
            font-family: var(--font-century-gothic), sans-serif;
            font-weight: 400;
            text-transform: capitalize;
            font-size: 14px;
            color: #999999;
            margin-top: 0px;
            margin-bottom: 10px;
            transition: all 0.3s ease;
          }
          h3 {
            font-family: var(--font-century-gothic), sans-serif;
            font-weight: 400;
            text-transform: capitalize;
            font-size: 16px;
            line-height: 1.4;
            color: $codgray;
            margin-top: 0px;
            margin-bottom: 10px;
            transition: all 0.3s ease;
          }
        }
        .editorial-thumbnail {
          width: 100%;
          aspect-ratio: 4 / 6;
          background-color: #bdbdbd;
          background-size: cover;
          background-position: center;
          margin-bottom: 10px;
          position: relative;
          &:before {
            float: left;
            padding-top: 150%;
            content: '';
          }
          &:after {
            display: block;
            content: '';
            clear: both;
          }
        }
      }
    }
  }
}

// SINGLE POST //
.single-post-container {
  width: 100%;
}
.single-post-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 80px 15px 40px 15px;
  background-color: $white;

  @include u.breakpoint(md) {
    padding: 80px 30px 40px 30px;
  }

  .single-post-wrapper {
    display: flex;
    flex-direction: column;

    .single-post-header {
      width: 100%;
      margin-bottom: 30px;
      //max-width: 800px;

      p {
        font-family: var(--font-century-gothic), sans-serif;
        font-weight: 400;
        text-transform: capitalize;
        font-size: 16px;
        color: #bdbdbd;
        margin-top: 0px;
        margin-bottom: 10px;
        text-align: center;
      }
      h1 {
        font-family: var(--font-century-gothic), sans-serif;
        font-weight: 600;
        text-transform: capitalize;
        font-size: 28px;
        color: $codgray;
        margin-top: 0px;
        margin-bottom: 20px;
        text-align: center;
      }
    }
    .single-post-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      p,
      h1,
      h2,
      h3,
      h4,
      span {
        font-family: var(--font-century-gothic), sans-serif;
        text-align: center;
      }
      p {
        color: $codgray;
        line-height: 1.5;
        margin-bottom: 20px;
      }
    }
  }
}
